@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

:root {
  --btn-primary:  blue;
  --btn-primary-hover:  rgb(55, 57, 218);
  --elements-bg: rgb(210, 216, 236);
  --elements-bg-hover: rgb(210, 216, 236);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --element-active: rgb(175, 177, 185);
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 1em 10%;
}

@media screen and (min-width: 200px) and (max-width: 979px) {
    body {
      margin: 1em 6%;
    }
}